body {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    font-family: "PT Sans Narrow", "Arial", serif;
}

h1 {
    font-size: 30px;
    line-height: 42px;
}

h2 {
    font-size: 21px;
    line-height: 21px;
}

.result-item-info h2 {
    font-size: 21px;
    line-height: 26px;
}